*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
body h1,h2,h3{
    font-family: 'Playfair Display', serif;
}
body p,a,span{
    font-family: 'Roboto', sans-serif;
}
 /* --------------header section css--------------- */
header{
    width: 100%;
    margin: 0 auto;
}

.navbar-top{
    /* width: 100%; */
    padding:15px 0px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}
.navbar-top .search-box{
    width:100%;
    position: relative;
}
.navbar-top .search-box::after{
    content: '';
    height: 1px;
    width:100%;
    left:0px;
    background: #000;
    position: absolute;
    bottom: -1px;
}
.navbar-top .search-box form{
    display: flex;
}
.navbar-top .search-box input{
    border: none;
    font-size: 20px;
    /* font-weight: 500; */
    padding-left:0;
    font-family: 'Roboto', sans-serif;
}
.navbar-top .search-box input:focus{
    box-shadow: none;
}
.navbar-top .search-box input::placeholder{
    color: #000;
    font-size: 20px;
    /* font-weight:600; */
}
.navbar-top .search-box button{
    background: transparent;
    border: 0;
}
.navbar-top .search-box img{
    width: 24px;
    height: 24px;
}
.navbar-top .logo {
    text-align: center;
}
.navbar-top .logo img{
    width:fit-content ;
}
.navbar-top .left-content{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    padding-top: 9px;
}
.navbar-top .left-content .cart{
    margin:0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-top .left-content .cart img{
    width: 18px;
    height: 18px;
    text-align: center;
    margin-right:5px;
}
.navbar-top .left-content .cart div{
    background: #000;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height:20px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2;
}
.navbar-top .left-content .auth{
    margin:0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.navbar-top .left-content .auth img{
    width: 24px;
    height: 24px;
    margin-right:5px;
}
.navbar-top .left-content .auth a{
    text-decoration: none;
    color: #000;
}
header li{
    list-style: none;
}
.navbar-top .left-content .country li a{
    list-style: none;
    text-decoration: none;
    color: #000;
}
.navbar-top .left-content .country li a img{
    height: 24px;
    width: 24px;
}
nav{
    background: #CA9852;
    width: 100%;
}
nav .wrapper{
    background:#CA9852;
    max-width:100%;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding:10px 30px;
    position: relative;
}
nav .wrapper li{
    list-style: none;
}
nav .wrapper a{
    font-size: 20px;
}
nav .wrapper .nav-links{
    padding-top: 20px;
    flex-basis: 50%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.wrapper a{
    text-decoration: none;
    color: #fff;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
}
nav .seller-btn{
    text-decoration: none;
    background: #B57E3C;
    height: 100%;
    display: flex;
    height: 80px;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
    font-size: 20px !important;
}
.mega-box{
    position: absolute;
    top:100%;
    background: #B57E3C;
    z-index: 20;
    padding:0;
    width: 50%;
    visibility: hidden;
}
.mega-box .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:25px 20px;
}
.content .row{
    line-height: 45px;
}
.content .row header{
    color: #fff;
    font-size:20px;
}
.content .row .mega-links a{
    font-size: 15px;
}
.content .row img{
    width:100%;
}
nav .nav-links a.dropdown-toggle{
    color: #fff;
}
nav .nav-links a.dropdown-toggle:hover{
    color: #fff;
}
 /* /* --------------header section css end--------------- */

/* --------------------------banner-1 css--------------------- */
.banner-section-1{
    height:auto;
    /* width: 100%; */
    /* margin: 0 auto; */
    position: relative;
    overflow: hidden;
}
.discover-btn{
    position: absolute;
    text-align: center;
    z-index:9;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    bottom:0;
}
.discover-btn p{
    color: #fff;
    font-size: 12px;
}
.discover-btn a img{
    width:48px;
}
.banner-section-1 .slick-dotted.slick-slider{
    margin-bottom:0;
}
.slide{
    width: 100%;
    height:100vh;
    position: relative;
}
.slide img{
    width: 100%;
}
.slide .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 2;
}
.slide .content h1{
    font-size:80px;
    color: #fff;
    text-align: center;
}
.slide .content p{
    color: #fff;
    text-align: center;
    font-size:24px;
}
.count{
    position: absolute;
    z-index: 9;
    bottom: 20px;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.count h3{
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size:40px;
    margin-right:7px;
}
.count p{
    color: #fff;
    font-size:20px;
}
.next {
    position: absolute;
    z-index: 9;
    bottom:30px;
    right:80px;
    width:20px;
  }
.prev {
    position: absolute;
    z-index: 9;
    bottom:30px;
    right:112px;
    width:20px;
  }
.banner-section-1 ul{
    position: absolute;
    bottom: 34px;
    right: 147px;
    z-index: 9;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-section-1 ul li{
    display: inline-block;
        background:#fff;
        margin: 10px 0;
        width:45px;
        height:2px;
        opacity: 0.5;
}

.banner-section-1 ul li.slick-active{
    width:45px;
    height:2px;
    margin: 0;
    margin: 10px 0;
    opacity: 1;
}
  
/* --------------------------banner-1 css--------------------- */

/* --------------------------banner-2 css--------------------- */
.banner-section-2{
    /* width:85%;
    height:auto;
    margin: 0 auto; */
    padding-top: 80px;
}
.banner-section-2 h2{
    text-align: center;
    font-weight: 600;
    color: #000;
    font-size:40px;
}
.banner-section-2 .autoplay1{
    margin-top:30px;
}
.banner-section-2 .slide{
    margin:0 40px;
    position: relative;
    transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.banner-section-2 .slick-active .slick-center,.banner-section-2 .slick-cloned, .banner-section-2 .slick-current{
transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
transform: scale(1.05);
}
.banner-section-2 .slide img {
    width: 100%;
    transition:0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.banner-section-2 .slide .bottom-text{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 20px;
}
.banner-section-2 .slide .bottom-text p:nth-child(1){
    color: #000;
    font-size: 20px;
    font-weight: 500;
}
.banner-section-2 .slide .bottom-text p:nth-child(2){
    color: #CA9852;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}

.banner-section-2 .next {
    position: absolute;
    z-index: 9;
    right:-10px;
    top:40%;
    width:50px;
  }
.banner-section-2 .prev {
    position: absolute;
    z-index: 9;
   left: -10px;
    width:50px;
    top:40%;
  }
  .banner-section-2 .slick-current{
      margin-top:50px;
  }
/* --------------------------banner-2 css end--------------------- */
.pad-0{
    padding: 0;
}
.mar-top-55{
    margin-top: 55px;
}
.mar-top-60{
    margin-top: 60px;
}
/* --------------------------top picks css start--------------------- */
.top-picks{
    /* width: 85%;
    margin: 0 auto; */
    margin-top: 143px;
    /* height:auto; */
}
.top-picks .tab-bar {
    margin-bottom: 52px;
}
.top-picks ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.top-picks h1{
    text-align: center;
   color: #000;
   font-weight: 600;
   font-size: 40px;
   margin-bottom: 60px;
}
.top-picks ul li{
    position: relative;
}
.top-picks ul li a{
    color: #222;
    margin: 0 20px;
    font-size: 20px;
}
.top-picks ul .nav-item .active{
    color: #000;
    font-weight: 500;
    border-bottom: 2px solid #000;
}
.top-picks ul .nav-item a:hover{
    border-bottom: 2px solid #000;
    font-weight: 500;
    
}
.top-picks .row {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    /* margin:40px 10px; */
}

 /* .column{
    float: left;
    width:25%;
} */
.column {
    float: left;
    width: 33.33%;
    display: none; 
    margin-bottom: 30px;/* Hide columns by default */
  }

  /* Clear floats after rows */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Content */
  .content {
    padding: 10px;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  .myBtnContainer{
      display: flex;
      justify-content:center;
      align-items: center;
      border: none;
  }
  .myBtnContainer a{
      text-decoration: none;
      font-size: 20px;
      margin:0px 20px 30px 20px;
      border: none;
      border-radius: 0;
  }
  /* Add a grey background color on mouse-over */
  .btn:hover {
    border-bottom: 2px solid #000;
    font-weight:500;
  }
  
  /* Add a dark background color to the active button */
  .btn.active {
    border-bottom:2px solid #000;
    font-weight: 500;
  }
.row .column:first-child{
margin-left: 0;
}
.row .column:last-child{
    margin-right: 0;
}
.row .column .product-item{
    position: relative;
}
.row .column .product-item .fav{
    position: absolute;
    right:5px;
    top:5px;
    z-index: 9;
    background: #fff;
    border-radius:100%;
    width:48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row .column .product-item .fav i{
    cursor: pointer;
    width: 20px;
    transition:0.2s ease-out;
}
.row .column .product-item .fav .fas{
    color: #ED4956;
}
.row .column .detail{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}
.row .column .detail a:nth-child(1){
    color: #000;
    font-size: 24px;
    font-weight: 400;
    margin:5px 0;
    margin-top: 20px;
    margin-bottom: 10px;

    text-decoration: none;
}
.row .column .detail a:nth-child(2){
    color: #CA9852;
    font-size: 20px;
    font-weight:500;
    text-decoration: none;
    text-transform: uppercase;
}
.row .column .product-item img{
    width: 100%;
}
.row .column  .layer a{
    font-size:8px;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    padding:8px 10px;
    width:165px;
    color: #000;
    text-decoration: none;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 1px solid black;
    background: #fff;
    padding-left: 0;
    cursor: pointer;
}
.row .column .layer:hover a{
    opacity: 1;
    width: 165px;
    margin-top: 10px;
}
.row .column .layer a img{
    width:13px;
    height: 13px;
    flex-basis:30%;
    margin-right:5px;
    object-fit:contain;
}

.row .column .product-item .layer img{
    height: 24px;
    width: 24px;
}
.row .column .layer a span{
    font-size:16px;
    flex-basis:60%;
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
}

.layer{
    height: 100%;
    width: 100%;
    background:transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.layer:hover{
    background: rgba(0,0,0,0.4);
}

.column .modal-container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background: rgba(0,0,0,0.3);
    transform: scale(0);
}

.column .modal-container .model{
    height:80vh;
    min-width:50%;
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
.column .modal-container .model img{
    width:50%;
}
.modal-container .model .fa-times{
    position: absolute;
    top: 15px;
    right: 15px;
}
.column .modal-container .model .product-detail{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 70px;
}
.column .modal-container .model .detail{
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-direction: column;
}
.column .modal-container .model .product-detail .add-to-cart{
    border: 2px solid #000;
    text-decoration: none;
    padding:5px 10px;
    color: #000;
    font-weight: 500;
    margin-top: 30px;
}
.column .modal-container .model .product-detail .add-to-cart img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
/* --------------------------top picks css end--------------------- */

/* --------------------------top collection css start--------------------- */
.top-collection{
    /* width: 85%;
    margin: 0 auto;
    margin-top: 40px;
    height:auto; */
    padding-top: 100px;
    padding-bottom: 100px;
}
.top-collection h1{
    text-align: center;
    color: #000;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 60px;
}
/* .top-collection .product-area {
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    margin:40px 10px;
} */
.top-collection .product-area .product-card:first-child{
    margin-left: 0;
}
.top-collection .product-area .product-card:last-child{
    margin-right: 0;
}
/* .top-collection .product-area .product-card{
    flex:1 0 20%;
    margin:10px;
} */
.top-collection .product-area .product-item img{
    width: 100%;
}

.top-collection .product-area .product-card .detail{
    display: flex;
    justify-content:flex-start;
    align-items:flex-start;
    margin-top: 24px;
}
.top-collection .product-area .product-card .detail a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 24px;
}
.top-collection .product-area .product-card .detail a img{
    width: 36px;
    height: 36px;
    margin-left: 16px;
    transition:0.3s ease-out;
}
.top-collection .product-area .product-card .detail:hover img{
    margin-left:22px;
}
/* .top-collection .product-area .product-card .detail a{
    text-decoration: none;
    color: #000;
    font-weight:550;
    font-size: 15px;
}
.top-collection .product-area .product-card .detail a img{
    width:25px;
    height:25px;
    margin-left: 10px;
    transition:0.3s ease-out;
} */
/* --------------------------top collection css end--------------------- */

/* --------------------------top summer sale css start--------------------- */
.top-sell-banner{
  width: 100%;
  height:auto;
 position: relative;
 
}

.top-sell-banner img{
    width: 100%;
    height: 100%;
}
.top-sell-banner .sell-detail{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    top: 12%;
    left: 10%;
}
.top-sell-banner .sell-detail h1{
    color: #000;
    font-size: 92px;
    font-weight: 600;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 18px;
}
.top-sell-banner .sell-detail h1 span{
    font-size: 48px;
    font-weight: 500;
}
.top-sell-banner .sell-detail a{
    text-decoration: none;
    color: #fff;
    background: #CA9852;
    padding: 20px 66px;
    font-size: 30px;
    margin-top: 41px;
}
/* --------------------------top summer sale css end--------------------- */

/* --------------------------footer css start--------------------- */
footer{
    /* width: 100%;
    height:auto; */
    background:#121212;
    padding-top: 80px;
    
}
footer .sign-up{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer .sign-up h2{
    color: #fff;
    font-size: 32px;
    margin: 20px 0;
    margin-bottom: 48px;
}
footer .sign-up .contact-form{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    width:400px;
}
footer .sign-up .contact-form::after{
    content: '';
    height: 1px;
    width:390px;
    left:10px;
    background: #fff;
    position: absolute;
    bottom: -8px;
}

footer .sign-up .contact-form img{
    width: 36px;
    height: 36px;
}
footer .sign-up .contact-form input{
    border: none;
    background: #121212;
    color: #fff;
    font-size:18px;
}
footer .sign-up .contact-form input::placeholder{
    color: #fff;
    font-size: 18px;
}
footer .sign-up .contact-form input:focus{
    border: none;
    box-shadow: none;
}

footer .bottom-content{
    margin:30px 0;
    margin-top: 80px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    position: relative;
}
footer .bottom-content .col-sm-4{
    padding-left: 0;
}
footer .bottom-content .col-sm-3{
    padding-right: 0;
}
footer .bottom-content h3{
    color: #B57E3C;
    font-size: 22px;
    margin-bottom: 27px;
}
footer .bottom-content .info ul{
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer .bottom-content .info ul li{
    /* margin-right:40px; */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
footer .bottom-content .info ul a{
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    font-style: normal;
}
footer .bottom-content .follow-us ul{
    margin-top: 20px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
footer .bottom-content .follow-us ul li{
    /* margin-right:20px; */
    display: flex;
    justify-content: space-between;
    
}
footer .bottom-content .follow-us ul a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #fff;
    padding:11px;
}
footer .bottom-content .follow-us ul a img{
    width: 16px;
}
footer .bottom-content::after{
    content: '';
    position: absolute;
    width: 100%;
    height:1px;
    bottom:-20px;
    opacity:0.5;
    left: 0;
    background: #fff;
}
footer .policy{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .policy ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .policy ul li{
    list-style: none;
    margin-right: 20px;
}
footer .policy  a{
    color: #fff;
    font-size: 16px;
}

  

/* --------------------------footer css end--------------------- */


/* --------------------media query for all desktop and laptop------------- */
@media screen and (min-width:1366px){
    .container{
        max-width: 1200px;
    }
}
@media screen and (min-width:1440px){
    .container{
        max-width: 1300px;
    }
}
@media screen and (min-width:1920px){
    .container{
        max-width: 1600px;
    }
}
@media screen and (max-width:1900px)  and (min-width:1477px) {
    .navbar-light .navbar-nav .nav-link{
        padding: 22px 32.5px;
    }
    .navbar-top .left-content .cart {
        margin: 0 0px;
    }
    .navbar-top .left-content .auth {
        margin: 0 0px;
    }
    .navbar-top .left-content .auth{
        font-size: 17px;
    }
    .navbar-light .navbar-nav .nav-link-left {
        padding-left: 0;
    }
}
@media screen and (max-width:1476px)  and (min-width:1439px) {
    .navbar-light .navbar-nav .nav-link{
        padding: 22px 30.2px;
    }
}
@media screen and (max-width:1440px){
   
    .navbar-light .navbar-nav .nav-link {
        padding: 22px 44.8px;
    }
    .navbar-light .navbar-nav .nav-link-left {
        padding-left: 0;
    }
    .top-sell-banner .sell-detail{
        top: 12%;
    left: 5%;
    }
    .top-sell-banner .sell-detail h1 {
        font-size: 70px;
    }
    .top-sell-banner .sell-detail h1 span {
        font-size: 36px;
    }
    .top-sell-banner .sell-detail a{
        padding: 10px 41px;
    font-size: 25px;
    margin-top: 26px;
    }
}
@media screen and (max-width:1366px){
    
    .navbar-light .navbar-nav .nav-link {
        padding: 22px 32.5px;
    }
    .navbar-light .navbar-nav .nav-link-left {
        padding-left: 0;
    }
    .navbar-top .left-content .auth{
        margin: 0 0px;
        font-size: 17px;
    }
    .navbar-top .left-content .cart{
        margin: 0 0px;
    }
    .top-sell-banner .sell-detail {
        left: 2%;
    }
}
@media screen and (max-width:1365px) and (min-width:1300px) {
    .navbar-light .navbar-nav .nav-link {
        padding: 22px 33.7px;
    }
}
@media only screen   and (min-width: 1024px)   and (max-width:1280px)  
{ 
    .slide .content h1{
        font-size:60px;
        
    }
}  
